h1{
    font-size: 55px;
    font-family: none;
}

.price{
  margin-top: -8px;
}

.crousel_pic{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.cardView_imgs {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}