.admin_bg {
    background-color: #303030;
    height: 100%;
    width: 100%;
}

.admin_formdiv{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 10);
    backdrop-filter: blur(3.5px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

